<div >

  <script>
  $('#datepicker').datepicker({
  "dateFormat": "dd-mm-yy",
  "minDate": new Date(),
"maxDate": +7
  });
  </script>



<p class="tabpages">
Pick your favorite restaurant and conviniently make reservations
</p>


<form action="/newbooking" method="POST">
  <label>Number of tables:</label>
  <input name="tables" type="number"  min="0" placeholder="Number of tables"/><br/>
  <label>Date:</label>
  <input type="text" name="bookdate" id="datepicker" style="width:200px;height:20px">
  <br/>
  <input type="submit" value="Book"/>
</form>

<a href="#" style="color: #0000FF">SEARCH</a>
</div>
