<div >
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<p class="tabpages">
Use our search tool to search for restaurants by name, city or cuisine
</p>
<a href="#" style="color: #0000FF;">SEARCH</a>
</div>
