<!DOCTYPE html>
<html>
<head>
<body>
<div class="header">
        <ul>
            <li style="float: left;">
                <button style="float: left;" onclick="w3_open()">&#9776;</button>
            </li>
            <li style="float: left; margin-left: 700px">
                <h3 style="color:white">foodster</h3>
            </li>
    
            <li style="float: right;">
                <button id="b1" type="button"
                        onmouseover="mouseOver()"
                        onmouseout="mouseOut()"
                        onclick="document.getElementById('id01').style.display='block'">Sign Up
                </button>
            </li>
            <li style="float: right;" s>
                <button id="b2" type="button"
                        onmouseover="mouseOver1()"
                        onmouseout="mouseOut1()"
                        onclick="document.getElementById('id02').style.display='block'">Sign In
                </button>
            </li>
        </ul>
    </div>
</body>
</head>
</html>