<!DOCTYPE html>
<html>
  <head>
    <title>CMPE 280</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script type ="text/javascript" src="validations.js"></script>
  </head>
  <body background="/images/img2.jpg">

<div class = "active">
  <ul>
      <li><button type="button" onclick="document.getElementById('id01').style.display='block'">Sign Up</button></li>
      <li><button type="button" onclick="document.getElementById('id01').style.display='block'">Sign In</button></li>
  </ul>
</div>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Find restaurants?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

<!-- Button to open the modal -->

<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signup">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!--<h2>Sign Up</h2>
    <form name="signupform" action="/signup" method="POST" onsubmit="return signupForm()">
    	<label>First Name: </label><input type="text" name="firstname" ><br>
    	<label>Last Name: </label><input type="password" name="lastname"><br>
      <label>Phone No.: </label><input type="text" name="phone" placeholder="(999) 999-9999"><br>
      <label>Email: </label><input type="text" name="email"><br>
      <label>Password: </label><input type="password" name="password"><br>
    	<input type="submit" name="Signup">
    </form>

<h2>Sign In</h2>
    <form name="signinform" action="/signin" method="POST" onsubmit="return signinForm()">
      <label>Email: </label><input type="text" name="email"><br>
      <label>Password: </label><input type="password" name="password"><br>
      <input type="submit" name="Signin">
    </form>

-->


  </body>
</html>
