
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <style>
        #gallery { float: left; width: 100%; min-height: 12em;position: relative; top: 93px ;
            background: transparent;}
        .gallery.custom-state-active { }
        .gallery li { float: left; width: auto; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
        .gallery li h6 { margin: 0 0 0.4em; cursor: move; background: #ffffff}

        #trash { float: left; width: 35%; min-height: 10em; padding: 1%; background: #ffffff; position: absolute ;top: 345px}
        #trash h4 { line-height: 16px; margin: 0 0 0.6em; background: #ff3a6d}
        #trash h4 .ui-icon { float: left; }
        #trash .gallery h6 { margin: 0 0 0.4em; cursor: move; }
    </style>


<div class="ui-widget ui-helper-clearfix" id="list">
    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
        <li style="background:#42BE3E;" class="ui-widget-content ui-corner-tr" id="#goodfood">
            <h6 style="background:#42BE3E;">#goodfood</h6>
        </li>
        <li style="background:#42BE3E;" class="ui-widget-content ui-corner-tr" id="#awesome">
            <h6 style="background:#42BE3E;">#awesome</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#disappointed">
            <h6 style="background:#e23636;">#disappointed</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#average">
            <h6 style="background:#e23636;">#average</h6>
        </li>
        <li style="background:#42BE3E;" class="ui-widget-content ui-corner-tr" id="#fastservice">
            <h6 style="background:#42BE3E;">#fastservice</h6>
        </li>
        <li style="background:#42BE3E;" class="ui-widget-content ui-corner-tr" id="#highly_recommended">
            <h6 style="background:#42BE3E;">#highly_recommended</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#never_recommended">
            <h6 style="background:#e23636;">#never_recommended</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#overpriced">
            <h6 style="background:#e23636;">#overpriced</h6>
        </li>
        <li style="background:#42BE3E;" class="ui-widget-content ui-corner-tr" id="#affordable">
            <h6 style="background:#42BE3E;">#affordable</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#crowded">
            <h6 style="background:#e23636;">#crowded</h6>
        </li>
        <li style="background:#e23636;" class="ui-widget-content ui-corner-tr" id="#badfood">
            <h6 style="background:#e23636;">#badfood</h6>
        </li>
    </ul>

    <div id="trash" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header">Review Box</h4>
    </div>


</div>
    <script type="text/javascript">
        var reviewlist = [];
        $( function() {

            // There's the gallery and the trash
            var $gallery = $( "#gallery" ),
                $trash = $( "#trash" );

            // Let the gallery items be draggable
            $( "li", $gallery ).draggable({
                revert: "invalid", // when not dropped, the item will revert back to its initial position
                containment: "document",
                helper: "clone",
                cursor: "move"
            });

            $( "#trash" ).resizable({
                animate: true
            });


            // Let the trash be droppable, accepting the gallery items
            $trash.droppable({
                accept: "#gallery > li",
                classes: {
                    "ui-droppable-active": "ui-state-highlight"
                },
                drop: function( event, ui ) {
                    //var id = ui.attr("id");
                    //console.log( ui.draggable.context.id);
                    reviewlist.push(ui.draggable.context.id);
                    console.log(reviewlist);
                    //console.log(event.target.attr('id'));
                   // console.log('ui.item >li'.attr('id'));
                    //console.log(ui.item.context.childNodes[1].id);
                    deleteImage( ui.draggable );
                }
            });


            // Let the gallery be droppable as well, accepting items from the trash
            $gallery.droppable({
                accept: "#trash li",
                classes: {
                    "ui-droppable-active": "custom-state-active"
                },
                drop: function( event, ui ) {

                    var v=ui.draggable.context.id;
                    //console.log(v);
                    const index = reviewlist.indexOf(v);
                    reviewlist.splice(index, 1);
                    recycleImage( ui.draggable );
                    //console.log("removed");
                    console.log(reviewlist);
                    //console.log("Dropped to gallery: " + id);
                }
            });

            // Image deletion function
            function deleteImage( $item ) {
                $item.fadeOut(function() {
                    var $list = $( "ul", $trash ).length ?
                        $( "ul", $trash ) :
                        $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $trash );

                    $item.appendTo( $list ).fadeIn(function() {
                        $item
                            .animate({ width: "auto" })
                            .find( "img" )
                            .animate({ height: "36px" });
                    });
                });
            }

            function recycleImage( $item ) {
                $item.fadeOut(function() {
                    $item
                        .find( "a.ui-icon-refresh" )
                        .remove()
                        .end()
                        .css( "width", "96px")
                        .find( "img" )
                        .css( "height", "72px" )
                        .end()
                        .appendTo( $gallery )
                        .fadeIn();
                });
            }

        });
        function test(){
            console.log("hi"+reviewlist);
            document.getElementById("reviewfield").value = reviewlist;
        }
    </script>

    <script>
        $(function(){
        $("#header").load("header.html");
});
    </script>
    <form id="reviewform" onsubmit="return test()" action="/test" method = "POST">
    <input type="hidden" id="reviewfield" name="review_list" />
    <button type="submit"  class="btn-form" style ="margin-top: 345px; position:auto;">Submit Review</button>
</form>
