<!DOCTYPE html>
<html>
<head>
<body>
        <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                }
                
                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }
        </script>

        <div class="sidenav" id="mySidebar" style="background-color: #111111 ;position: fixed;width: 160px; height: 100%;">
        <a href="#">About</a>
        <a id="sideNav1" href="#about" onmouseover="mouseOverSideNav(1)" onmouseout="mouseOutSideNav(1)">About</a>
        <a id="sideNav2" href="#contact" onmouseover="mouseOverSideNav(2)" onmouseout="mouseOutSideNav(2)">Contact Us</a>
        <a id="sideNav3" href="#business" onmouseover="mouseOverSideNav(3)" onmouseout="mouseOutSideNav(3)">Business</a>
        <a id="sideNav4" href="#blog" onmouseover="mouseOverSideNav(4)" onmouseout="mouseOutSideNav(4)">Blog</a>
    </div>      
</body>
</head>
</html>