<!DOCTYPE html>
<html>
<head>
    <title>CMPE 280</title>
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>

    var resultarr="<table>";
    $(document).ready(function() {
    $.ajax({
        url: 'http://localhost:3000/allreviews',
        type: 'GET',
        jsonpCallback: 'callback', // this is not relevant to the POST anymore
        success: function (data) {
          console.log(data[0].review);
          for(var i=0;i<data.length;i++){
            console.log(data[i].review);
          resultarr+="<tr><td>" + data[i].review + "</td></tr>";//<td><button onclick='updatereview("+data[i]._id+");'>Update</button></td><td><button onclick='deletereview("+data[i]._id+");'>Delete</button></td></tr>";
          }
          resultarr+="</table>";
          console.log(resultarr);
        },
        error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
          },
        });
    });


    var hideshow = function() {
    var mydiv = document.getElementById('addreview');
    if (mydiv.style.display === 'none')
      mydiv.style.display = 'block';
    else
      mydiv.style.display = 'none'
    }

    var updatereview = function(reviewid) {
alert("Update: "+reviewid);
    }

    var deletereview = function(reviewid) {
alert("Delete: "+reviewid);
    }
    </script>
</head>
<body>

<h2>Sign Up/In Successful</h2>

<h2>All reviews</h2>
<script>
document.write(resultarr);
</script>
<button type="button" id="reviewbutton" onclick="hideshow();">Add</button>
<div id="addreview" style="display:none;">
<form action="/addreview" method="POST">
  <input name="newreview" type="text" placeholder="Add review" size="70"/>
  <button type="submit">Submit</button>
</form>
</div>

</body>
</html>
